body {
  margin: 0;
}

.container {
  position: relative;
  width: 50%;
}

.bankai {
  width: 50%;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.bankai:hover {
  opacity: 0;
}

.vasto {
  position: absolute;
  width: 50%;
  left: 0;
  height: 258px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.vasto:hover {
  opacity: 50%;
}
